<h1 style="margin: 0 auto; display: flex; display: flex;
justify-content: center;
height: 200;
align-items: flex-end; padding-bottom: 26px;">Your Task Is Waiting For You!!</h1>

<div style="display: flex; justify-content: center;">

    <button style=" padding: 10px 15px; margin-right: 20px; background-color: rgb(242, 97, 97); border-radius: 5cpx; font-size: medium; font-weight: 600; color: white;">
        <a href="/admin" style="color: white; text-decoration: none;">For Admin</a>
    </button>
    <button style=" padding: 10px 15px; margin-left: 20px; background-color: rgb(126, 83, 245); border-radius: 5cpx; font-size: medium; font-weight: 600; color: white;">
        <a href="/user" style="color: white; text-decoration: none;">For Users</a>
    </button>
</div>
   